:root {
  --color1: #10002B;
  --color2: #9D4EDD;
  --color3: #E0AAFF;
  --color4: #EDF2FB;
}

* {
  font-family: 'Liter';
}

body {
  background: var(--color1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}