.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: center;
  gap: 1rem;
  height: 4rem;
  padding: 2rem;
  margin-top: 1rem;
}

#date-display {
  font-size: 1.25rem;
  padding: .5rem 1rem;
  background: var(--color2);
  color: var(--color3);
  border-radius: 4rem;
  text-align: center;
}

.header nav > .open-modal {
  font-size: 2rem;
  padding: .5rem 2.25rem;
  border-radius: 50%;
  background: var(--color2);
  color: var(--color3);
  border: 1px solid transparent;
}